<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<% var users=typeof users==="undefined" ? [] : users %>

    <body>
        <div class="container">
            <h1 class="title">Users</h1>
            <div class="text-center">
                <a class="btn btn-primary my-2" href="/admin">
                    Back To Admin Panel
                </a>
            </div>
            <div class="text-center" style="display: flex; justify-content: center;">
                <table class="table table-striped table-responsive table-hover d-flex justify-content-center">
                    <tr>
                        <th>Serial No</th>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    <% users.forEach((user, i)=> { %>
                        <tr>
                            <td>
                                <%= i + 1 %>.
                            </td>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.user_email %>
                            </td>
                            <td>
                                <button class="btn btn-primary mr-2"
                                    onclick="window.location.href='/admin/users/<%= user.id %>?backurl=users'">Details</button>
                                <button class="btn btn-danger"
                                    onclick="confirmDelete('<%= user.name %>')">Delete</button>
                                <form id='delete-form' method="POST"
                                    action="/admin/users/delete/<%= user.id %>?redirect_url=users"></form>
                            </td>
                        </tr>
                        <% }) %>
                </table>
            </div>
        </div>
        <script>
            const form = document.querySelector('#delete-form')
            function confirmDelete(userName) {
                const confirmed = confirm(`Are you sure you want to delete ${userName}?`)
                if (confirmed) {
                    form.submit()
                }
            }
        </script>
    </body>

</html>